.ItemSummary {
	overflow: auto;
	margin: 1rem auto;
}

.ItemSummary div {
	float: left;
	width: 4rem;
	height: 6rem;
	margin: 0 1rem 0 0;
	font-size: 1.7rem;
	line-height: 1;
	text-align: center;
}

.ItemSummary img {
	float: left;
	width: 7rem;
	margin: 0 1rem 0 0;
}

.ItemSummary h2 {
	margin: 0;
}
