.navbar {
	margin-bottom: 0;
}

.squared {
	border-radius: 0;
}

.navbar-collapse {
	text-align: center;
}

.navbar-brand {
	font-family: $font-display;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
