.jumbotron {
  padding: 2rem 1rem;
  text-align: center; }

.jumbotron h1 {
  display: none;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5rem; }

.tagline {
  display: none; }

.jumbotron button {
  width: 30%;
  margin: 10px;
  font-weight: 700;
  letter-spacing: .25rem; }
